* {
  margin: 0;
  padding: 0;
}

#menu {
  background-color: black;
}

#menu ul {
  width: 1000px;
  margin: 0 auto;
  list-style-image: none;
  list-style-type: none;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  display: block;
  width: 330px;
  height: 60px;
  color: white;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul li a:hover {
  color: green;
}

header {
  text-align: center;
  padding: 30px;
}

p {
  font-size: 20px;
  margin: 5px 0;
}

section {
  background-image: url(img/bg.png);
  display: flex;
  justify-content: center;
}

article {
  background-color: beige;
  padding: 30px 50px 40px;
  width: 1000px;
}

article h1 {
  font-size: 70px;
  background-color: green;
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

article img {
  width: 100%;
}
