/* 
CSS herencia / especificidad / cascada
escritura general a lo especifico
*/
* {
    /*  color:darkgreen */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* SELECTORES DE ELEMENTOS O ETIQUETAS */
body {
    color: darkslategrey;
    background-color: beige;

}

h1 {
    /* propiedades de caja */
    width: 400px;
    /* unidades-> % px */
    /*  height: 200px; */
    padding: 30px;
    /* afecto todos los paddings top / right / bottom / left */
    /*  padding: 50px 30px; */
    /* top-bottom / right-left */
    /*  padding: 50px 20px 100px 50px; */
    /* top - right - bottom - left */

    /*  */
    margin: 30px;
    /* afecto todos los margins top / right / bottom / left */
    /* centrar una caja */
    margin: 30px auto;
    border: 3px blue dashed;
    color: mediumvioletred;
    /* propiedades de fuente */
    font-size: 100px;/* px em */
    font-weight: 200;
    

    /* propiedades de texto */
    text-align: center;
}

h3 {
    color: forestgreen
}

/* SELECTOR AGRUPADO */
p, strong {
    color: gray;
}

h2, h3 p, ul, blockquote, dl {
    margin: 20px 0;
}

/* SELECTOR DESCENDENTE MARCA ANIDACION */
ul li {}

p strong {}

/*p strong /  p q strong */





/* SELECTOR CLASE (se puede usar muchas veces en el documento)
html -> atributo class
css ->.nombreClase
*/
.fondoNaranja {
    background-color: darksalmon;
}

/* SELECTOR DE ID (se puede usar una solo vez en el documento html)
html->atributo id
css->#nombreId
*/
#destacado, #pepito {
    background-color: crimson;
    color: white;
}

#contenido {
    width: 1200px;
    padding: 20px;
    margin: 20px auto;
    border-top: 10px solid orangered;
    border-radius: 10px;
    background-color: white;
}