* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto Slab, serif;
}

h1 {
  font-size: 40px;
}

h1,
p {
  padding: 5px;
}

header {
  display: flex;
  background-color: gainsboro;
  height: 100px;
  justify-content: space-between;
  padding: 10px 30px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 600px;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  color: black;
  display: block;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  transition: 0.2s ease all;
}

nav ul li a:hover {
  border-top: 2px solid gray;
  font-weight: bolder;
}

section#layout1 {
  font-family: Autour One;
  background-image: url(img/EMO_LOL_02.avif);
  background-size: contain;
  background-attachment: fixed;
  height: 740px;
  display: flex;
  align-items: center;
}

section#layout1 article {
  margin: 0 auto;
  width: 200px;
  color: brown;
  text-align: center;
}

.boton {
  margin: 10px auto;
  display: block;
  background-color: azure;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
}

.boton:hover {
  color: azure;
  background-color: inherit;
  border: 2px solid blueviolet;
}
