*{
    margin: 0;
    padding: 0
}
h1,p{
    padding: 20px;
    margin: 20px 0;
}
p{
    background-color: rgba(255, 99, 71, 0.455);
}
section{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: beige;
}
section>div, form{
    width: 49%;
}

form{    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px
}

form div:nth-child(1){
    grid-column: span 2;
}

label{
    display: block;
}
input, select{
    padding: 5px;
    border:1px solid gray;
    width:calc(100% - 12px);
}
input[type="radio"]{
    width: 30px;
}
input[type="radio"]+ label{
    display: inline;
}
input[type="submit"]{
    width: 50%;
    grid-column: span 2;
    justify-self: center;
}