
@{
    ViewData["Title"] = "NoAutorizado";
}

<div class="text-center" style="margin-top:150px">
     <h1 class="display-4 text-danger">Te estas portando mal, seras castigado/a</h1>
</div>

