@using Dominio;

@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}

@if (ViewBag.Barrios == null || ViewBag.Barrios.Count == 0)
{
    <div class="alert alert-danger">No hay barrios en el sistema</div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Barrio b in ViewBag.Barrios)
            {
                <tr>
                    <td>@b.Codigo</td>
                    <td>@b.Nombre</td>
                    <td><a class="btn btn-primary" href="~/Barrios/ModificarNombre?codigo=@b.Codigo">Cambiar Nombre</a></td>
                </tr>
            }
        </tbody>
    </table>
}
