* {
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}

section {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  align-items: stretch;
}

article {
  text-align: center;
  width: 350px;
  padding: 50px;
}

h2,
p,
a {
  color: white;
  padding: 10px;
}

a {
  display: block;
  width: 250px;
  text-decoration: none;
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: 30px;
  margin: 25px 10px 0;
  transition: 0.2s ease;
}

a:hover {
  background-color: white;
}

#fondo {
  display: flex;
  background-image: url(img/patron.jpg);
  width: 100%;
  height: 500px;
  align-items: center;
}

#helado1 {
  background-color: blueviolet;
}
#helado2 {
  background-color: deeppink;
}
#helado3 {
  background-color: skyblue;
}

#helado1 a:hover {
  color: blueviolet;
}
#helado2 a:hover {
  color: deeppink;
}
#helado3 a:hover {
  color: skyblue;
}
